<!DOCTYPE html>
<html>
    <head>
      <meta property="og:title" content="garethwhitley.online" />
      <meta property="og:url" content="http://www.garethwhitley.online" />
<meta property="og:description" content="Employ Gareth Whitley" />
<meta property="og:image" content="https://i.ibb.co/HDRNrqw/screenshot.png" />
        <title>garethwhitley.online</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/newlanding.css">
        
    </head>
    <body>
    <div class="container-fluid">

    
    <div class="container">
       <!-- space for flash messages -->
    </div>
    
    <!-- The video -->
<!--<video autoplay muted loop id="myVideo"poster="/assets/clouds.jpeg">
  <source src="/assets/21.mp4" type="video/mp4">
</video>-->

<!-- Optional: some overlay text to describe the video -->
<div class="content">
  <div class="contentText">
    <h1>Welcome to garethwhitley.online</h1>
  
    <!-- Use a button to pause/play the video with JavaScript -->
    <a class="btn btn-outline-light" href="mailto:me@garethwhitley.online">Contact</button><a id="project"href="/projects"class="btn btn-outline-light">Projects & Resume</a>
  </div>
</div>
    
</div>
<!--<%- include ('partials/footer') %>-->