<%- include('partials/header') %>
<span id="top"></span>
    <div class="jumbotron bg-cover jumbotron-fluid">
        <div class="overlay">
        <div class="container">
            <div class="hero">

            
            <div class="text-center">
                <img id="garethImg" src="/assets/me2.jpg">
            </div>
            <div class="name text-center">
                <h1>Gareth Whitley</h1>
                <p>
                    Tech savvy / Web developer / IT support
                </p>
            </a></span><span class="socials" id="emailMe"><a href="#message"><i class="fas fa-envelope"></i></span></a><span class="socials"id="twitterIcon"><a href="https://www.twitter.com/geeteeuu2"><i class="fab fa-twitter-square"></i></a></span><span class="socials" id="linkedin"><a href="https://linkedin.com/in/gareth-whitley"><i class="fab fa-linkedin"></i></span></a><span class="socials"id="radio"><a href="#"><i class="fas fa-broadcast-tower"data-toggle="modal" data-target="#exampleModal"></i></a></span>
            </div>
        </div>
        </div>
                
        
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Amateur Radio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          My callsign is M7GTW. I am usually on UHF repeater GB3GR.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
      
  
        </div>
        
        <span id="about"></span>
    </div>
<div class="container">
    <%- include('partials/nav') %>

<div class="row text-center"id="aboutMeRow">
  <div class="col-12">
    <h1>Technologies and Projects</h1>
  </div>
</div>

   
<div class="row text-center justify-content-center" id="showLanguages">
    
    <div class="col">
        <div class="progIcons">
        <i class="fab fa-html5"alt="HTML"></i><i class="fab fa-js rightIcon"alt="JavaScript"></i><i class="fab fa-css3-alt rightIcon"alt="CSS"></i>
        </div>
        <div class="frameworks">
            <i class="fab fa-node"></i> <i class="fab fa-bootstrap rightIcon"></i>
        </div>
    </div>
</div>

<span id="message"></span>
    <div class="row text-center"id="contact">
      <div class="col-12">
        <h1>Send me a message</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-12">
        <div class="form-row justify-content-center">
          <div class="col-5">
            <form method="post" action="https://mailthis.to/me@garethwhitley.online">
              <input type="hidden" name="_after" value="https://garethwhitley.online/">
            <div class="form-group">
              
              <input type="email" class="form-control"id="Email" placeholder="Email address"aria-describedby="yourEmailAddress">
              </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <input placeholder="Your name"type="text" rows="100"class="form-control"name="Name" aria-describedby="yourName">
            </div>
          </div>
        </div>

        <div class="form-row justify-content-center">
          <div class="col-9">
          <div class="form-group">
            
            <input type="text"class="form-control"placeholder="Your organisation"name="Organisation"aria-describedby="yourOrganisation">
          </div>
        </div>
      </div>

        <div class="form-row justify-content-center">
          <div class="col-9">
          <div class="form-group">
            
            <textarea placeholder="Your message" class="form-control"id="message"name="Message"aria-describedby="yourMessage"></textarea>
          </div>
          <div class="form-group text-center">
            <input type="submit"class="btn btn-warning"value="Send">
          </div>
        </form>
        </div>
      </div>

      </div>
    </div>
    
        
      
    
</div>

<%- include('partials/footer') %>