<%- include('partials/header') %>
<span id="top"></span>
    <div class="jumbotron bg-cover jumbotron-fluid">
        <div class="overlay">
        <div class="container">
            <div class="hero">

            
            <div class="text-center">
                <img id="garethImg" src="/assets/me2.jpg">
            </div>
            <div class="name text-center">
                <h1>Gareth Whitley</h1>
                <p>
                    Tech savvy / Web developer / IT support
                </p>
            </a></span><span class="socials" id="emailMe"><a href="#message"><i class="fas fa-envelope"></i></span></a><span class="socials"id="twitterIcon"><a href="https://www.twitter.com/geeteeuu2"><i class="fab fa-twitter-square"></i></a></span><span class="socials" id="linkedin"><a href="https://linkedin.com/in/gareth-whitley"><i class="fab fa-linkedin"></i></span></a><span class="socials"id="radio"><a href="#"><i class="fas fa-broadcast-tower"data-toggle="modal" data-target="#exampleModal"></i></a></span>
            </div>
        </div>
        </div>
                
        
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Amateur Radio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          My callsign is M7GTW. I am usually on UHF repeater GB3GR.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
    </div>
  </div>
      
  
        </div>
        
        <span id="about"></span>
    </div>
<div class="container">
  <%- include('partials/nav') %>

<div class="row text-center"id="aboutMeRow">
  <div class="col-12">
    <h1>About me</h1>
  </div>
</div>
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-9"id="aboutMe">
           
            <div class="container">
            <div class="card aboutMeCard bg-dark text-light">
                
                <div class="card-body">
                  
                  <p class="card-text">
                    I have a natural ability to understand, use and problem-solve information technology. I really enjoy helping others to get the best out of their systems. In my free time I love to develop my learning around IT products, processes and frameworks in my spare time. I am looking for new employment where my main role is providing IT support full time.
                  </p>
                  
                </div>
                
              </div>
            </div>    
        </div>
        <span id="exp"></span>

    </div>
<div class="container"id="experience">
    <div class="row">
        <div class="col text-center">
            <h1>Experience</h1>
        </div>
    </div>

    <div class="row row-cols-12 row-cols-md-12">
        <div class="col sm-12">
          <button class="accordion">Providing IT support</button>
                <div class="panel">
                    <p>Kitsch PBR&B fixie yuccie, pour-over seitan snackwave etsy copper mug. Hella helvetica pabst disrupt butcher succulents tote bag salvia chia distillery heirloom crucifix polaroid health goth. Viral activated charcoal street art seitan, tbh health goth quinoa four loko af live-edge unicorn. Before they sold out DIY 3 wolf moon fingerstache, dreamcatcher wayfarers photo booth adaptogen asymmetrical knausgaard hell of. Craft beer occupy keytar, skateboard sartorial master cleanse portland tote bag cred fingerstache artisan copper mug farm-to-table man bun small batch. XOXO mumblecore you probably haven't heard of them neutra knausgaard shoreditch cornhole 3 wolf moon salvia flannel single-origin coffee VHS bushwick.</p>
                </div>
          
                <button class="accordion">Installing hardware</button>
                <div class="panel">
                    <p>Kitsch PBR&B fixie yuccie, pour-over seitan snackwave etsy copper mug. Hella helvetica pabst disrupt butcher succulents tote bag salvia chia distillery heirloom crucifix polaroid health goth. Viral activated charcoal street art seitan, tbh health goth quinoa four loko af live-edge unicorn. Before they sold out DIY 3 wolf moon fingerstache, dreamcatcher wayfarers photo booth adaptogen asymmetrical knausgaard hell of. Craft beer occupy keytar, skateboard sartorial master cleanse portland tote bag cred fingerstache artisan copper mug farm-to-table man bun small batch. XOXO mumblecore you probably haven't heard of them neutra knausgaard shoreditch cornhole 3 wolf moon salvia flannel single-origin coffee VHS bushwick.</p>
                </div>
                <button class="accordion">GDPR and information systems</button>
                <div class="panel">
                    <p>Kitsch PBR&B fixie yuccie, pour-over seitan snackwave etsy copper mug. Hella helvetica pabst disrupt butcher succulents tote bag salvia chia distillery heirloom crucifix polaroid health goth. Viral activated charcoal street art seitan, tbh health goth quinoa four loko af live-edge unicorn. Before they sold out DIY 3 wolf moon fingerstache, dreamcatcher wayfarers photo booth adaptogen asymmetrical knausgaard hell of. Craft beer occupy keytar, skateboard sartorial master cleanse portland tote bag cred fingerstache artisan copper mug farm-to-table man bun small batch. XOXO mumblecore you probably haven't heard of them neutra knausgaard shoreditch cornhole 3 wolf moon salvia flannel single-origin coffee VHS bushwick.</p>
                </div>
                <button class="accordion">Procuring, configuring and managing e-commerce relationships</button>
                <div class="panel">
                    <p>Kitsch PBR&B fixie yuccie, pour-over seitan snackwave etsy copper mug. Hella helvetica pabst disrupt butcher succulents tote bag salvia chia distillery heirloom crucifix polaroid health goth. Viral activated charcoal street art seitan, tbh health goth quinoa four loko af live-edge unicorn. Before they sold out DIY 3 wolf moon fingerstache, dreamcatcher wayfarers photo booth adaptogen asymmetrical knausgaard hell of. Craft beer occupy keytar, skateboard sartorial master cleanse portland tote bag cred fingerstache artisan copper mug farm-to-table man bun small batch. XOXO mumblecore you probably haven't heard of them neutra knausgaard shoreditch cornhole 3 wolf moon salvia flannel single-origin coffee VHS bushwick.</p>
                </div>
          
        </div>
        
        
        
      </div>
         
      <span id="training"></span>
    <div class="container"id="experience">
        <div class="row">
            <div class="col text-center">
                <h1>Relevant Training & Qualifications</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-md-6">
              <button class="accordion">Certifications</button>
                <div class="panel">
                  <p>Prince2<sup>&reg;</sup> Agile</sup> <span class="badge badge-warning badge-pill">Studying</span></p>
                  <p>CompTIA A+ <span class="badge badge-warning badge-pill">Studying</span></p>
                    <p>Microsoft 365 Certified: Fundamentals <span class="badge badge-warning badge-pill">2020</span></p>
                    <p >ITIL<sup>&reg;</sup> 4 Foundation <span class="badge badge-warning badge-pill">2020</span></p>
                    <p >Train the Trainer <span class="badge badge-warning badge-pill">2017</span></p>
                    <p >ILM Level 3 Award in First Line Management <span class="badge badge-warning badge-pill">2011</span></p>
                </div>

                <button class="accordion">Degree</button>
                <div class="panel">
                  <p>BSc Econ (Hons) International Politics and Intelligence Studies <span class="badge badge-dark badge-pill">Grade 2:1</span> <span class="badge badge-warning badge-pill">2007</span</p>
                </div>

                <button class="accordion">General</button>
                <div class="panel">
                  <p>AVCE Information Communication Technology <span class="badge badge-dark badge-pill">Grade BBB</span> <span class="badge badge-warning badge-pill">2004</span></p>
                  <p>GNVQ Information Communication Technology <span class="badge badge-dark badge-pill">Grade Merit</span> <span class="badge badge-warning badge-pill">2002</span></p>
                  <p>GCSE Systems and Control <span class="badge badge-dark badge-pill">Grade A</span> <span class="badge badge-warning badge-pill">2002</span></p>

                </div>
                <button class="accordion">Vetting</button>
                <div class="panel">
                  <p>Enhanced DBS check certificate (portable) <span class="badge badge-warning badge-pill">2020</span></p>
                  <p>Recevied CTC and SC sponsored by North Wales Police <span class="badge badge-warning badge-pill">2010</span></p>
                </div>
                

                <button class="accordion">Driving</button>
                <div class="panel">
                  <p>Full, clean, UK car driving licence <span class="badge badge-warning badge-pill">Since 2003</span></p>
                  
                </div>
                  
                  

             
            </div>
            
            <div class="col-xs-12 col-md-6"id="badges">
              <div class="card bg-light">
                <div class="card-body text-center">
                  
                  <p class="card-text"><div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="4c75277b-9ca9-4ab5-8a57-948caffc1604" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
                  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="19403038-f0f5-44b5-924b-b586028c89b6" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script></p>
                </div>
              </div>
            </div>

          </div>
    </div>


<span id="message"></span>
    <div class="row text-center"id="contact">
      <div class="col-12">
        <h1>Send me a message</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-12">
        <div class="form-row justify-content-center">
          <div class="col-5">
            <form method="post" action="https://mailthis.to/me@garethwhitley.online">
              <input type="hidden" name="_after" value="https://garethwhitley.online/">
            <div class="form-group">
              
              <input type="email" class="form-control"id="Email" placeholder="Email address"aria-describedby="yourEmailAddress">
              </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <input placeholder="Your name"type="text" rows="100"class="form-control"name="Name" aria-describedby="yourName">
            </div>
          </div>
        </div>

        <div class="form-row justify-content-center">
          <div class="col-9">
          <div class="form-group">
            
            <input type="text"class="form-control"placeholder="Your organisation"name="Organisation"aria-describedby="yourOrganisation">
          </div>
        </div>
      </div>

        <div class="form-row justify-content-center">
          <div class="col-9">
          <div class="form-group">
            
            <textarea placeholder="Your message" class="form-control"id="message"name="Message"aria-describedby="yourMessage"></textarea>
          </div>
          <div class="form-group text-center">
            <input type="submit"class="btn btn-warning"value="Send">
          </div>
        </form>
        </div>
      </div>

      </div>
    </div>
    
        
      
    
</div>
<%- include('partials/footer') %>